In [2]:
#DataFrame are RDD with schema on it.
#It can be created by various method
#[reading textdata from files]
#[reading data from Hive , mysql over jdbc, +more]
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DF Introduction').getOrCreate()

In [12]:
df1 = spark.read.csv('/home/hduser/Documents/RddTransformations/Data/orders.csv')
df1.printSchema()
#default it will create it's own schema string as default data type and _c0, _c1 as default column name

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [13]:
df1 = spark.read.csv('/home/hduser/Documents/RddTransformations/Data/orders.csv').toDF('order_id','Order_date','Customer_id','Order_status')
df1.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- Order_date: string (nullable = true)
 |-- Customer_id: string (nullable = true)
 |-- Order_status: string (nullable = true)

In [14]:
df1.select('order_id','Order_date').show()

+--------+-------------------+
|order_id|         Order_date|
+--------+-------------------+
|       1|2013-07-25 00:00:00|
|       2|2013-07-25 00:00:00|
|       3|2013-07-25 00:00:00|
|       4|2013-07-25 00:00:00|
|       5|2013-07-25 00:00:00|
|       6|2013-07-25 00:00:00|
|       7|2013-07-25 00:00:00|
|       8|2013-07-25 00:00:00|
|       9|2013-07-25 00:00:00|
|      10|2013-07-25 00:00:00|
|      11|2013-07-25 00:00:00|
|      12|2013-07-25 00:00:00|
|      13|2013-07-25 00:00:00|
|      14|2013-07-25 00:00:00|
|      15|2013-07-25 00:00:00|
|      16|2013-07-25 00:00:00|
|      17|2013-07-25 00:00:00|
|      18|2013-07-25 00:00:00|
|      19|2013-07-25 00:00:00|
|      20|2013-07-25 00:00:00|
+--------+-------------------+
only showing top 20 rows

In [16]:
df1.describe()

DataFrame[summary: string, order_id: string, Order_date: string, Customer_id: string, Order_status: string]

In [17]:
df1.describe().show()
#give the metris about the data

+-------+------------------+-------------------+-----------------+---------------+
|summary|          order_id|         Order_date|      Customer_id|   Order_status|
+-------+------------------+-------------------+-----------------+---------------+
|  count|             68883|              68883|            68883|          68883|
|   mean|           34442.0|               null|6216.571098819738|           null|
| stddev|19884.953633337947|               null|3586.205241263963|           null|
|    min|                 1|2013-07-25 00:00:00|                1|       CANCELED|
|    max|              9999|2014-07-24 00:00:00|             9999|SUSPECTED_FRAUD|
+-------+------------------+-------------------+-----------------+---------------+